.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 200px;
}

.md-header {
    background-color: #225688;
}

.md-tabs {
    background-color: #FBB901;
}

.md-tabs__link {
    opacity: 1;
    color: #225688;
}

.icon {
    width: 10px;
}

.img-width {
    width: 547px;
}